<section *ngIf="!(auth.user | async); else main">
  <div class="container">
    <mat-card class="card-login">
      <mat-card-title>Test App Login</mat-card-title>
      <mat-card-content></mat-card-content>
      <mat-card-actions class="card-actions">
        <button mat-raised-button color="primary" (click)="login()">Login</button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
<ng-template #main>
  <div class="session-info">
    <p>Hello {{(auth.user | async)?.displayName}}</p>
    <button mat-raised-button color="primary" (click)="logout()" class="btn-logout">Logout</button>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</ng-template>