.mat-card {
    margin-top: 100px;
}
.content {
    display: flex;
}

.edit-icon {
    color: green
}
.delete-icon {
    color: red;
}
.done-icon {
    color: blue;
}
.edit-quote-container {
    display: flex;
}