<section>
  <mat-card class="mat-card">
    <mat-card-title> CRUD using firestore </mat-card-title>
    <mat-card-content class="card-content">
      <div class="content">
        <form #myForm>
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="write your next quote"
              #quote
            />
          </mat-form-field>
        </form>
        <button
          mat-mini-fab
          color="accent"
          aria-label="Example icon button with a menu icon"
          (click)="addQuote(quote.value, myForm)"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <mat-list *ngIf="quotes$ | async as quotes">
        <mat-list-item *ngFor="let quote of quotes">
          <span matLine *ngIf="quoteIdToUpdate !== quote.id">{{ quote.quote }}</span>
          <div *ngIf="quoteIdToUpdate === quote.id" class="edit-quote-container">
            <input matInput matLine placeholder="{{quote.quote}}" #updatedQuote/>
            <button mat-icon-button (click)="updateQuote(quote.id, updatedQuote.value)">
              <mat-icon class="done-icon">done</mat-icon>
            </button>
            <button mat-icon-button (click)="edit(quote.id, false)">
              <mat-icon class="close-icon">close</mat-icon>
            </button>
          </div>
          <div *ngIf="quoteIdToUpdate !== quote.id">
            <button mat-icon-button (click)="edit(quote.id, true)">
              <mat-icon class="edit-icon">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteQuote(quote.id)">
              <mat-icon class="delete-icon">delete</mat-icon>
            </button>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</section>
